body {
  background-color: transparent;
  background-image: none;
}

#magazineContainer .next-button,
#magazineContainer .previous-button,
#magazineContainer .previous-button:hover,
#magazineContainer .next-button:hover {
  background-color: transparent;
  cursor: pointer;
  filter: invert(1);
}

.exit-icon,
.zoom-icon,
.toolbar {
  display: none;
}
